:root {
    * {
        box-sizing: border-box;
        appearance: none;
        color: var(--foreground);
        font-family: system-ui;
        perspective: 1500px;
    }
}

header {
    nav {
        ul {
            list-style-type: none;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid transparent;
                transition: border-bottom 250ms ease-in-out;
                margin: 10px;
                padding: 5px;
            }

            li:hover {
                border-color: color-mix(in srgb, var(--foreground) 30%, rgb(128, 128, 128) 70%);
            }

            li.active-tab {
                font-weight: bold;
                border-color: color-mix(in srgb, var(--foreground) 30%, rgb(64, 64, 64) 70%);
            }
        }
    }
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button, select, output, input, textarea {
    background-color: var(--background-l);
    border: 1px solid var(--background-ll);
    transition: background-color 250ms ease-in-out;
    outline: none;
    padding: 5px;
    margin: 5px;
}

button:hover, select:hover {
    background-color: var(--background-ll);
}

input:focus {
    appearance: none;
    border-bottom: 1px solid var(--foreground-l);
}

button:disabled, button:disabled:hover {
    background: var(--background-ll);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 30rem;

    * {
        font-weight: normal;
    }
}

th, td {
    padding: 5px;
}

tr {
    border-top: 1px solid var(--background-l);
}

#newgame-dialog[open] {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 0px 0px 15px 5px var(--shadow-color);
    border: 1px solid var(--background-ll);
    outline: 1px solid var(--background-l);
    outline-offset: -12px;
    width: 40rem;
    padding: 12px;
}

label {
    display: inline;
    vertical-align: middle;
}

hr {
    border: none;
    border-top: 1px solid var(--background-l);
    margin: 0;
}

.turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.turn::after {
    content: '';
    padding-bottom: 5px;
    border-bottom: 1px solid var(--background-ll);
    transition: all 250ms;
    width: 80%;
    margin: auto;
}

.turn.active::after {
    border-bottom: 1px solid var(--foreground-l);
    width: 100%;
}

#turn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.players-table {
    /* TODO: don't require doing a calc here to set the margin correctly */
    width: calc(100% - 10px);
    margin: 5px;
}

.player-actions {
    button {
        width: 7rem;
    }
}

.errored {
    outline: 1px solid red;
}

#game {
    justify-content: center;
    width: 100%;
}

#output-log {
    resize: none;
    width: calc(100% - 10px);
    height: 200px;
    margin: 5px;
}

.header-row {
    border: none;
    border-bottom: 2px solid var(--background-l);
}

.game-title {
    color: red;
    text-shadow: 2px 2px 0px var(--foreground);
}

.tab {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.asset-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;

    > * {
        margin: 5px;
    }
}

.player-color {
    display: flex;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
