:root {
    --property-width: 80px;
    --property-height: 120px;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.hstack {
    display: flex;
    flex-direction: row;
}

.dummy {
    flex: 1;
}

.expand {
    flex-grow: 1;
}

.fullwide {
    width: 100%;
}

.nospacing {
    padding: 0;
    margin: 0;
}

.hidden {
    visibility: hidden;
}

